src/uebung10/Buch.xml

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Buch">
    <xs:attribute name="isbn" type="xs:string"/>
    <xs:attribute name="Jahr" type="xs:integer" maxOccurs="1" minOccurs="0"/>
    <xs:attribute name="Autor" type="xs:string" minOccurs="1"/>
  </xs:complexType>
</xs:schema>

